<!DOCTYPE html>
<html>
<head>
    <title>Create Employee</title>
</head>
<body>

<h1>Create Employee</h1>

<form method="post">

    <input name="employee_name" placeholder="Name"><br><br>

    <input name="employee_grade" placeholder="Grade"><br><br>

    <input name="department" placeholder="Department"><br><br>

    <input name="manager" placeholder="Manager"><br><br>

    <input name="trip_purpose" placeholder="Trip Purpose"><br><br>

    <input type="date" name="trip_start_date"><br><br>

    <input type="date" name="trip_end_date"><br><br>

    <button type="submit">
        Save
    </button>

</form>

</body>
</html>